<div class="ml-sub-content-container">
    <span class="ml-txt-3 hidden-xs">EXECUTIVE SUMMARY AT RELATED CLIENT LEVEL</span>
    <div class="ml-executive-summary-details">
        <p class="text-justify">{{client.RelatedClientExecutiveSummary}}</p>
    </div>
</div>
