<div class="ml-sub-content-container">
    <span class="ml-txt-3 hidden-xs">Agreement Details</span>
    <div class="ml-pricing-agreement" >
        <p  class="text-justify">{{client.AgreementText}}</p>
        
    </div>
</div>
