@model dynamic

@{
    Layout = null;
}
<div class="ml-sub-content-container">
    <span class="ml-txt-3 hidden-xs">Pricing Agreement</span>
    <div class="ml-pricing-agreement">
        {{client.ClientPricingNarrative}}
    </div>
</div>
