@model dynamic

@{
    Layout = null;
}
<div class="ml-responsible-attorney">
    <div class="ml-txt-3 hidden-xs">Responsible Attorney</div>
    <span class="ml-attorney ml-profile-photo ml-square-container-md">
        <img class="img-responsive image-replacement" src="{{getImageUrl(client.ResponsibleAttorney.PictureURL)}}" alt="Image Not Found" on-error-src="Images/no-img.jpg" />
    </span>
    <div class="ml-attorney profile-summary">
        <div><span class="ml-txt-1"><a href="{{getPersonUrl(client.ResponsibleAttorney.EmployeeId)}}">{{client.ResponsibleAttorney.NameDisplay}}</a></span></div>
        <div class="ml-partner ml-txt-4">
            <span class="ml-txt-5">{{client.ResponsibleAttorney.MarsTitle}}</span>
            <div><a href="{{getPracticeGroupUrl(client.ResponsibleAttorney.PracticeGroup.PracticeGroupName)}}" class="text-uppercase">{{client.ResponsibleAttorney.PracticeGroup.PracticeGroupName}} </a></div>
            <div><i class="fa fa-level-up" aria-hidden="true" ng-hide="{{isEmpty(client.ResponsibleAttorney.PracticeGroup.SubSubPracticeGroupName)}}"></i><a href="#" class="text-uppercase">{{client.ResponsibleAttorney.PracticeGroup.SubSubPracticeGroupName}} , {{client.ResponsibleAttorney.MarsTitle}}</a></div>
            <div><a href="{{getOfficeUrl(client.ResponsibleAttorney.BusinessPrimaryOfficeCity)}}">{{client.ResponsibleAttorney.BusinessPrimaryOfficeCity}}</a></div>
            <div><a href="{{'mailto:' + client.ResponsibleAttorney.Email}}">{{client.ResponsibleAttorney.Email}}</a></div>
            <div>
                <span class="glyphicon glyphicon-phone-alt" ng-hide="{{isEmpty(client.ResponsibleAttorney.BusinessPrimaryOfficePhoneInternalOfficeNumberFull) && isEmpty(client.ResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull)}}"></span>
                <a href="{{getCallNumberUrl(client.ResponsibleAttorney.BusinessPrimaryOfficePhoneInternalOfficeNumberFull)}}">{{client.ResponsibleAttorney.BusinessPrimaryOfficePhoneInternalOfficeNumberFull}}</a>
                <span ng-hide="{{isEmpty(client.ResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull)}}">
                    (<a href="{{getCallNumberUrl(client.ResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull)}}">{{client.ResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull}}</a>)
                </span>
            </div>
            <div>
                <span class="glyphicon glyphicon-phone" ng-hide="{{isEmpty(client.ResponsibleAttorney.CellPhoneNumberFull)}}"></span>
                <a href="{{getCallNumberUrl(client.ResponsibleAttorney.CellPhoneNumberFull)}}">{{client.ResponsibleAttorney.CellPhoneNumberFull}}</a>
            </div>
        </div>
    </div>
</div>