@model dynamic

@{
    Layout = null;
}
<!-- Client Name  -->
<div class="ml-client-name">
    {{client.RelatedClientName}}
</div>
<div class="margin-20">
    <span class="ml-relatedclient-block">RELATED CLIENT</span>
</div>
<!-- Client Details  -->
<div class="">
    <span class="ml-detail">{{client.RelatedClientNumber}}</span>
    <span class="ml-txt-2 pull-right ml-morgan-link"><a href="{{getMorganNetUrl()}}">MorganNet Page</a></span>
</div>
