@model MorganLewis.PracticeStrategy.PricingCentral.UI.Models.SampleModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample PDF</title>
</head>
<body>
    <div>
        <h1>@Model.SampleName</h1>
    </div>
    <div>
        <h3>@Model.SampleData</h3>
    </div>
</body>
</html>
