
<div class="ml-responsible-attorney">
    <div class="ml-txt-6 ml-coord-attorney hidden-xs">Coordinating Responsible Attorney</div>
    <span class="ml-attorney ml-profile-photo ml-square-container-md">
        <img class="img-responsive image-replacement" src="{{getImageUrl(client.CoordinatingResponsibleAttorney.PictureURL)}}" alt="Image Not Found" on-error-src="Images/no-img.jpg" />
    </span>
    <div class="ml-attorney profile-summary ml-profile-summary">
        <div><span class="ml-txt-1"><a id="rc-resp-att-emp-id" href="{{getPersonUrl(client.CoordinatingResponsibleAttorney.EmployeeId)}}" target="_blank">{{client.CoordinatingResponsibleAttorney.NameDisplay}}</a></span></div>
        <div class="ml-partner ml-txt-4">
            <span class="ml-txt-5">{{client.CoordinatingResponsibleAttorney.MarsTitle}}</span>
            <div><a id="rc-resp-att-pra-grp" href="{{getPracticeGroupUrl(client.CoordinatingResponsibleAttorney.PracticeGroup.PracticeGroupName)}}" class="text-uppercase" target="_blank">{{client.CoordinatingResponsibleAttorney.PracticeGroup.PracticeGroupName}}</a></div>
            <div>
                <i class="fa fa-level-up" aria-hidden="true" ng-class="{'visibility-hidden': isEmpty(client.CoordinatingResponsibleAttorney.PracticeGroup.SubSubPracticeGroupName)}"></i><a id="rc-resp-att-pra-grp-sub" href="{{getPracticeGroupUrl(client.CoordinatingResponsibleAttorney.PracticeGroup.PracticeGroupName)}}" class="text-uppercase" target="_blank">{{client.CoordinatingResponsibleAttorney.PracticeGroup.SubSubPracticeGroupName}}, {{client.CoordinatingResponsibleAttorney.MarsTitle}}</a>
            </div>
            <div><a id="rc-resp-att-office" href="{{getOfficeUrl(client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficeCity)}}" target="_blank">{{client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficeCity}}</a></div>
            <div><a id="rc-resp-att-email" class="break-all" href="{{'mailto:' + client.CoordinatingResponsibleAttorney.Email}}">{{client.CoordinatingResponsibleAttorney.Email}}</a></div>
            <div>
                <span class="glyphicon glyphicon-phone-alt" ng-class="{'visibility-hidden': isEmpty(client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficePhoneInternalOfficeNumberFull) && isEmpty(client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull)}"></span>
                {{client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficePhoneInternalOfficeNumberFull}}
                <span ng-hide="isEmpty(client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull)">
                    (<a id="rc-resp-att-phone" href="{{getCallNumberUrl(client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull)}}">{{client.CoordinatingResponsibleAttorney.BusinessPrimaryOfficePhoneNumberFull}}</a>)
                </span>
            </div>
            <div>
                <span class="glyphicon glyphicon-phone" ng-class="{'visibility-hidden': isEmpty(client.CoordinatingResponsibleAttorney.CellPhoneNumberFull)}"></span>
                <a id="rc-resp-att-cellphone" href="{{getCallNumberUrl(client.CoordinatingResponsibleAttorney.CellPhoneNumberFull)}}">{{client.CoordinatingResponsibleAttorney.CellPhoneNumberFull}}</a>
            </div>
        </div>
    </div>
</div>